<header id="site-header">
  <div class="container nav-wrap">
    <a href="#top" class="brand">
      <img src="../static/images/logo-mams.png" alt="Logo Les délices de Mam's" onerror="this.src='../static/images/restaurent.jpg'">
      <span>Mam's</span>
    </a>
    <nav class="main-nav" id="main-nav">
      <ul>
        <li><a href="#top">Accueil</a></li>
        <li><a href="#histoire">Notre histoire</a></li>
        <li><a href="#menu">Spécialités</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="mobile-only-item"><a href="#contact" class="btn btn-primary" style="width:100%; padding:1rem; text-align:center;">Réserver une table</a></li>
      </ul>
    </nav>
    <div class="header-actions">
  <a href="{% url 'users:register' %}" class="btn btn-outline">
    Créer un compte
</a>
<a 
    href="#" id="open-login-choice"class="btn btn-outline"
>
    Se connecter
</a>

      <button class="burger" id="burger" aria-label="Ouvrir le menu" aria-expanded="false" aria-controls="main-nav">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>
<div class="menu-overlay" id="menu-overlay"></div>

<div class="wax-divider" style="margin-top:0;"></div>
